*{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: #B7D9F6;
    display: flex;
    margin-top: 0px;
}
.Navigator{
    align-self: auto; 
}
.Container{
    width: 100%;
    margin: auto;
    text-align: center;
}
.GameName{
    margin: 30px;
    font-family: "Merienda One";
    font-weight: 700;
    text-shadow: 5px 0 #274b79;
    font-size: 80px;
    color: rgba(75, 164, 247, 0.884);
}

.rule .col-xs-9{
    text-align: center;
}

.Answerbox{
    width: 100%;
    
    text-align: center;
}

.col-xs-9{
    width: 100%;
    margin-left: 13%;
    align-self: center;
}

.small-box{
    width: 100%;
    
}

.callout.callout-danger {
    border-color: #c23321;
    background-color: #dd4b39;
}

.callout.callout-success {
    border-color: #00733e;
    background-color: #00a65a;
}

.Restart{
    text-align: center;
}